@charset "UTF-8";
#cart_top {
  height: 120px;
  width: 990px;
  margin: 0 auto;
  clear: both;
  display: none; }
  #cart_top #fl {
    margin-top: 25px;
    display: inline-block; }
  #cart_top #fr {
    float: right;
    margin-top: 25px;
    display: inline-block; }
  #cart_top #tit {
    float: left;
    height: 35px;
    width: 990px;
    margin-top: 60px; }
    #cart_top #tit .tit_word {
      font: 400 16px/35px "Microsoft YaHei";
      float: left; }

#min_all .cart_none {
  float: left;
  width: 990px;
  text-align: center;
  padding: 100px 0; }
  #min_all .cart_none p a {
    color: #abd13e;
    text-decoration: underline;
    font: 400 14px/60px "Microsoft YaHei"; }

#shopping {
  width: 990px;
  margin: 0 auto;
  display: block;
  clear: both; }
  #shopping .alltit {
    width: 100%;
    margin: 50px 0 0;
    background-color: #ff9000;
    margin-bottom: -3px;
    margin-top: 10px; }
    #shopping .alltit p {
      float: left;
      font-size: 14px;
      color: #fff;
      font-weight: 700;
      line-height: 36px;
      padding: 0 10px;
      border-radius: 100px; }
    #shopping .alltit em {
      line-height: 36px;
      margin-left: 10px;
      color: #fff;
      font-style: normal; }
  #shopping #main_header {
    width: 990px;
    margin: 3px 0 0; }
    #shopping #main_header .main_h1 {
      height: 40px;
      background-color: #fafbf8;
      border-top: 1px solid #edecec;
      border-bottom: 1px solid #edecec;
      font: 400 12px/40px "瀹嬩綋";
      color: #333; }
      #shopping #main_header .main_h1 input {
        float: left;
        margin: 13px 27px 0 35px; }
      #shopping #main_header .main_h1 span {
        display: inline-block;
        font: 400 12px/40px "瀹嬩綋"; }
    #shopping #main_header #sp {
      font-family: "瀹嬩綋", "Arial Narrow", HELVETICA;
      font-size: 12px;
      color: #333; }
      #shopping #main_header #sp li {
        border-bottom: 1px dotted #e1e1e1;
        padding: 20px 0;
        float: left;
        width: 990px; }
      #shopping #main_header #sp .check {
        width: 40px;
        float: left;
        margin: 22px 0 0 35px; }
      #shopping #main_header #sp .pic {
        float: left;
        width: 75px; }
        #shopping #main_header #sp .pic img {
          width: 60px;
          height: 60px; }
      #shopping #main_header #sp .name {
        margin: 0 40px 0 0;
        width: 350px;
        float: left; }
      #shopping #main_header #sp .price {
        font: 400 18px/22px "Microsoft YaHei";
        float: left;
        width: 115px; }
      #shopping #main_header #sp .num {
        float: left;
        margin: 0 0 0 5px;
        width: 90px; }
        #shopping #main_header #sp .num p {
          width: 15px;
          height: 28px;
          border: 1px solid #ccc;
          float: left;
          display: inline;
          text-align: center;
          line-height: 28px;
          cursor: pointer; }
        #shopping #main_header #sp .num input {
          border: 1px solid #dadada;
          width: 38px;
          font-size: 14px;
          height: 22px;
          padding: 3px;
          line-height: 14px;
          float: left;
          text-align: center;
          display: inline;
          margin: 0 5px; }
      #shopping #main_header #sp .total {
        float: left;
        width: 115px;
        margin-left: 30px;
        font: 400 20px/22px "Microsoft YaHei";
        color: #ff9000; }
      #shopping #main_header #sp .del {
        width: 80px;
        float: right;
        line-height: 22px; }
        #shopping #main_header #sp .del a {
          color: #333; }

#zong {
  width: 990px;
  line-height: 30px;
  text-align: right;
  margin: 0 auto; }
  #zong .del_all {
    float: left;
    width: 200px;
    margin: 25px 0 0 22px; }
    #zong .del_all .check {
      width: 40px;
      float: left;
      text-align: center; }
  #zong .details {
    text-align: right;
    line-height: 60px;
    float: left;
    margin-top: 10px; }
    #zong .details span {
      margin-left: 20px;
      color: #333;
      font: 400 14px/60px "Microsoft YaHei"; }
    #zong .details font {
      color: #eb6100;
      font: 400 16px/60px "Microsoft YaHei";
      margin-right: 5px; }
  #zong .all_price {
    font: 400 14px/26px "Microsoft YaHei";
    margin-top: 20px; }
    #zong .all_price span {
      font: 800 24px/26px "Microsoft YaHei";
      color: #eb6100; }
  #zong .butn {
    width: 990px;
    height: 45px;
    margin-bottom: 50px;
    float: right; }
    #zong .butn input {
      width: 140px;
      height: 38px;
      background: url(../img/jiesuan.png) 0 0 no-repeat; }

/*# sourceMappingURL=gwc.css.map */
